@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@300&family=JetBrains+Mono:wght@800&display=swap');

body {
    margin: 0;
    padding-top: 6rem !important;
    min-height: calc(100vh - 6rem);
}

/****** Navigation bar styling *******/
.navbar {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: #171819;
    margin-right: 0;
    padding-right: 0;
    position:fixed;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.menu > a {
    color: #25E5F8;
    font-size: 14px;
    font-weight: 500;
    margin-left: 45px;
    transition: all 0.3s ease;
    appearance: none;
    text-decoration: none;
}

.menu > i {
    color: #25E5F8;
    font-size: 20px;
    font-weight: 500;
    margin-left: 45px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > a:hover {
    color: #fff;
    font-weight: 700;
    transform: scale(1.05);
}

.menu > i:hover {
    color: #fff;
    transform: scale(1.2);
}

#logo {
    width: 7rem;
    cursor: pointer;
}

/****** Pop Out Profile Window ******/
.profile {
    display: none;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
}

.active {
    display: block;
}

.profile-detail {
    display: flex;
    flex-direction:column;
    justify-content: center;
    z-index: 1;
    background-color:rgba(89,83,83, 1);
    border-radius: 10px;
}

.profile-detail > a {
    border-bottom: 3px solid white;
    margin: 0 1rem;
    padding: 1.5rem 1rem;
    font-style: normal;
    text-align: center;
    appearance: none;
    text-decoration: none;
}

.profile-detail > a:hover {
    color: #25E5F8;
    transform: scale(1.05);
}

.profile-detail :last-child {
    border: none;
}

.profile-detail > a {
    color: #fff;
    text-align:center;
}

.logout {
    color: #f54242;
}

/****** Chatting ******/
.chat {
    color: #25E5F8;
    position: fixed;
    top: 88%;
    left: 93%;
    z-index: 1;
    width: 48px;
    height: 48px;
}

.chat:hover {
    cursor: pointer;
    color:#23D2E3;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}
  
.form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: #89969e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container h1 {
      color: white;
      font-family: 'Inter';
}

.form-container label {
      padding-left: px;
      font-family: 'Inter';
}
  
.form-container textarea {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 10px;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  
.form-container .btn {
    background-color: #23D2E3;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
}
  
.form-container .cancel {
    background-color: red;
}
 
.form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
    color:#ddd
}

/****** FOOTER Section ******/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: #FFF;
}

.sv-copyright {
    align-self: center;
    font-family: 'Inter';
    text-align: center; 
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.sv-icons {
    padding-left: 20px;
    display: flex;
}

.sv-icons, .emptysv{
    flex: 1;
}

.my-icon {
    align-self: center;
    -webkit-background-clip: text;
    padding-right: 20px;
    width: 40px;
    height: 40px;
}

.my-icon:hover {
    cursor: pointer;
}