@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@300&family=JetBrains+Mono:wght@800&display=swap');

body {
    margin: 0;
    padding-top: 6rem !important;
    /* min-height: 100%; */
    min-height: calc(100vh - 96px - 64px);
}

/****** Navigation bar styling *******/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: #171819;
    margin-right: 0;
    padding-right: 0;
    position:fixed;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: auto;
    padding: 0 80px;
    display: flex;
    justify-content: flex-end;
}

.navbar .menu {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #25E5F8;
    font-size: 14px;
    font-weight: 500;
    margin-left: 45px;
    transition: all 0.3s ease;
    appearance: none;
    text-decoration: none;
    /* display: block; */
    display: flex;
}

.navbar .menu li a:hover {
    color: #fff;
    font-weight: 700;
    transform: scale(1.05);
}

.navbar #person {
    color: #25E5F8;
    font-size: 25px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    margin: auto;
    margin-left: 25px;
    transition: all 0.3s ease;
    display: block;
    align-items:flex-start;
    justify-content:center;
}


.navbar #person:hover {
    color: #fff;
    transform: scale(1.2);
}

#logo {
    width: 7rem;
    cursor: pointer;
}

.menu-btn{
    /* color: #25E5F8; */
    font-size: 23px;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 45px;
    display: none;
    transition: all 0.3s ease;
  }

.menu-btn:hover{
    color: #fff;
    transform: scale(1.2);
}

.menu-btn i.active:before{
    /* content: "\f00d"; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='53.7' height='53.7' viewBox='0 0 53.7 53.7'><path opacity='.6' fill='%23666E6E' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    padding-left: 5px;
    width: 50px;
    height: 50px;
}

  /* menu bars icon css */
  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #25E5F8;
  }
  
  .svg-icon circle {
    stroke: #25E5F8;
    stroke-width: 1;
  }

/****** Pop Out Profile Window ******/
.profile {
    display: none;
    position: absolute;
    top: 4.5rem;
    right: 0.5rem;
}

.active {
    display: block;
}

.profile-detail {
    display: flex;
    flex-direction:column;
    justify-content: center;
    z-index: 1;
    background-color:rgba(89,83,83, 1);
    border-radius: 10px;
}

.profile-detail > a {
    border-bottom: 3px solid white;
    margin: 0 1rem;
    padding: 1.5rem 1rem;
    font-style: normal;
    text-align: center;
    appearance: none;
    text-decoration: none;
}

.profile-detail > a:hover {
    color: #25E5F8;
    transform: scale(1.05);
}

.profile-detail :last-child {
    border: none;
}

.profile-detail > a {
    color: #fff;
    text-align:center;
}

.logout {
    color: #f54242;
}

/****** Chatting ******/
.chat {
    color: #25E5F8;
    position: fixed;
    top: 88%;
    left: 93%;
    z-index: 1;
    width: 48px;
    height: 48px;
}

.chat:hover {
    cursor: pointer;
    color:#23D2E3;
}

/****** FOOTER Section ******/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    height: 4rem;
}

.sv-copyright {
    align-self: center;
    font-family: 'Inter';
    text-align: center; 
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.sv-icons {
    padding-left: 20px;
    display: flex;
}

.sv-icons, .emptysv{
    flex: 1;
}

.my-icon {
    align-self: center;
    -webkit-background-clip: text;
    padding-right: 20px;
    width: 40px;
    height: 40px;
}

.my-icon:hover {
    cursor: pointer;
}


/* END OF NEW CHAR TEMPLATE */
.chat-window{
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  text-decoration: none;
  transform: scale(0.7);
  font-family: 'Poppins', sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: transparent;
  padding: 0 10px;
  position: fixed;
  top: 9%;
  right: 0;
  z-index: 1;
}
.wrapper{
  background: #fff;
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

/* Login & Signup Form CSS Start */



/* Users List CSS Start */
.users{
  padding: 25px 30px;
}
.users header,
.users-list a{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}
.users header img{
  height: 50px;
  width: 50px;
}
:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .content .details{
  color: #000;
  margin-left: 20px;
}
:is(.users, .users-list) .details span{
  font-size: 18px;
  font-weight: 500;
}
.users header .logout{
  display: block;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.users .search{
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users .search .text{
  font-size: 18px;
}
.users .search input{
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.users .search input.show{
  opacity: 1;
  pointer-events: auto;
}
.users .search button{
  position: relative;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: #fff;
  color: #333;
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}
.users .search button.active{
  background: #333;
  color: #fff;
}
.search button.active i::before{
  content: '\f00d';
}
.users-list{
  max-height: 350px;
  overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
  width: 0px;
}
.users-list a{
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}
.users-list a:last-child{
  margin-bottom: 0px;
  border-bottom: none;
}
.users-list a img{
  height: 40px;
  width: 40px;
}
.users-list a .details p{
  color: #67676a;
}
.users-list a .status-dot{
  font-size: 12px;
  color: #468669;
  padding-left: 10px;
}
.users-list a .status-dot.offline{
  color: #ccc;
}

/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display:contents;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  background: #23D2E3;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: contents;
  /* align-items: flex-end; */
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  background: #fff;
  color: #333;
  border-radius: 0 18px 18px 18px;
}
.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {
  .form, .users{
    padding: 20px;
  }
  .form header{
    text-align: center;
  }
  .form form .name-details{
    flex-direction: column;
  }
  .form .name-details .field:first-child{
    margin-right: 0px;
  }
  .form .name-details .field:last-child{
    margin-left: 0px;
  }

  .users header img{
    height: 45px;
    width: 45px;
  }
  .users header .logout{
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.users, .users-list) .content .details{
    margin-left: 15px;
  }

  .users-list a{
    padding-right: 10px;
  }

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
  }
}

@media (max-width: 1042px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        /* height: 100vh; */
        width: 100%;
        /* left: -100%; */
        left: 0;
        display: none;
        top: 0;
        background: #111;
        text-align: center;
        padding: 80px 40px;
        transition: all 0.3s ease;
        /* display: block; */
    }
    .navbar .menu.active{
        /* left: 0; */
        display: block;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width {
        padding-right: 20px;
    }
}

@media (max-width: 800px){
    .footer{
        display: block;
        height: 5rem;
    }
    .sv-icons{
        justify-content: center;
    }
    .sv-copyright{
        font-size: 17px;
    }
}

/* @media only screen and (max-width: 734px) {
    .menu{

    }
} */
@media (max-width: 700px) {
    .chat{
        left: 83%;
    }
    
}

