/* payment home page */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    background-image: url(/southview/southview_payment/images/Southview-Background-Normal.png);
    font-family: 'Inter', sans-serif;
}

.white_boundary{
    background-color: white;
    border-radius: 50px;
    /* padding-left: 40px;
    padding-right:40px;
    margin-bottom: 100px; */
}

/* h1,p,h2,h3,h4,h5,h6,{
    font-family: 'Inter', sans-serif;
} */

h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.card-img{
    /* width: 209px;
    height: 209px; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-setting{
    margin-bottom: 20px;
    /* margin-left:70px;
    margin-right:20px; */
}

.card-color{
    background-color: #C4C4C4;
}

.card-color:hover{
    background-color: #25E5F8;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

/* payment success page */

#grey-bg{
    /* padding-bottom: 1em; */
    border-radius: 10px;
}

.tick{
    width: 150px;
    height: 150px;
}

.payment-banner{
    font-size: 3em; 
    /* margin-top: 0.67em; 
    margin-left: 0; 
    margin-right: 0;  */
    font-weight: bold;
    text-align: center;
}

.pdf{
    position: relative;
    width: 46px;
    height: 53px;
    bottom: 5px;
}

#btn-setting{
    background-color:#25E5F8;
    border-color: none;
    color:white;
    border-radius: 8px;
    width:250px;
    height:60px;
    border-radius: 1.5em;
}

.table-style{
    border:none;
    font-size: 1em;
}

th, strong{
    font-weight: 900px;
    color: black;
}

/* payment management page 1 */
#grey-bg2{
    /* position:relative;
    top: 20px; */
    border-radius: 10px;
}

#anyone-pay{
    /* position:absolute; */
    /* border-bottom-color: #25E5F8; */
    color:white;
    /* border-color: black; */
    width:530px;
    height:60px;
    align-content: center;
    /* right:15px;
    left: auto; */
}

#anyone-pay:hover{
    border-bottom-color: #25E5F8;
    color:#25E5F8;
    font-weight: bold;
}

#self-pay{
    /* position:absolute; */
    /* border-bottom-color: #25E5F8; */
    /* border-color: black; */
    color:white;
    width:530px;
    height:60px;
    align-content: center;
    /* right:0px;
    left: auto; */
}

#self-pay:hover{
    border-bottom-color: #25E5F8;
    color:#25E5F8;
    font-weight: bold;
}

#radio-btn{
    /* position: absolute; */
    top:50px;
    height: 30px;
    width:30px;
}

#p-text{
    /* position: relative; */
    font-size: 2em;
    top: 50px;
}

/* payment management page 2 */
#p-text-2{
    position: relative;
    font-size: 1em;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-next-2{
    /* position: relative;
    right: 10px; */
    background-color:hsl(185, 94%, 56%);
    border-color: none;
    color:white;
    border-radius: 8px;
    width:250px;
    height:60px;
    border-radius: 1.5em;
    /* left: 875px;
    bottom: 20px; */
}

#tr-settings{
    font-size: 1.25em;
    padding: 5px 5px 5px 5px;
    /* position: relative;
    right: 150px; */
}

#btn-next{
    position: relative;
    background-color:#25E5F8;
    border-color: none;
    color:white;
    border-radius: 8px;
    width:250px;
    height:60px;
    border-radius: 1.5em;
    /* margin-top: 10px;
    right: 160px; */
}

.img-setting{
    /* position: absolute;
    bottom: 350px;
    left: 100px; */
    margin-top:-80px;
}
/* !!!!!!!!!!!!!!!!!! */
.dot {
    height: 280px;
    width: 270px;
    background-color: rgb(0,0,0,0.5);
    border-radius: 50%;
    /* position: absolute;
    left:90px;
    bottom: 320px; */
}

#input-style{
    height: 30px;
}

.profile-area{
    padding: 80px 0;
}

.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img{
    height: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.img2 svg{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid rgba(0,0,0,0.5);
    margin-top:-300px;
    margin-bottom: auto;
}

