body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    background-image: url("../images/Southview-Background-Dark.png");
    background-size: cover;
}

.tab {
    width: 60rem;
    margin: 0 auto;
    background-color: #FFFFFF;
    min-height: calc(100vh - 5rem);
}

.tab > h2 {
    text-align: center;
    font-weight: 500;
    padding-top: 3rem;
    margin: 0;
}

.form {
    padding: 2rem;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.red {
    color: #F82525;
}

.answer {
    padding-left: 2rem;
    margin-top: 0.5rem;
}

.checkbox {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row-gap: 0.2rem;
    align-items: center;
}

.answer input[type="date"] {
    border: solid 1px #33658A;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}

.answer input[type="text"] {
    width: 25rem;
    appearance: none;
    border: none;
    border-bottom: solid 1px #33658A;
    padding-top: 0.5rem;
}

.answer input[type="text"]:focus {
    outline: 0;
}

.comfirmation {
    color: #33658A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comfirmation input {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.submit {
    margin: 1rem auto 0 auto;
    background-color: #25E5F8;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.submit:hover{
    background-color: #23D2E3;
    color: #fff;
}

/* lg screens */
@media (max-width: 992px) {
    .tab {
        width: auto;
    }
}