@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap');
*{font-family: 'Inter',sans-serif;}


.bg-img{
    background-image:url(../images/Southview-Background-Dark.png);
    max-width: 100%;
    height: auto;
}
h2{
    font-size: smaller;
    font-weight: 600;
}

.bg{
    background-color: white;
    max-width: fit-content; 
    padding-top: 1%;
    border-radius: 15px;
}



.table input[type="text"],input[type="password"]{
    border-radius: 10px;
}

.table input[type="submit"]{

    background:#25E5F8;
    border-radius: 20px;
    font-family: 'ABeeZee',sans-serif;
    font-weight: bold;
    
}


.table input[type="submit"]:hover{
    background-color: #23D2E3;
    color: #fff;
}

#image{
    max-width: 80%;
    height:auto;
    margin-bottom: 10px;
    margin-top: 30px;
}

#signup,#pw,#loginlink{
    text-decoration: none;
    font-weight: 600 ;
}

#loginerror{
    color:red;
}