@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap');
*{font-family: 'Inter',sans-serif;}

body{
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
    background-image: url(images/Southview-Background-Normal.png);
    background-size:cover;
    display:flex;
    /* justify-content: center; */
    height:80vh;
    /* align-items: center;  */
}
.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}


::placeholder{
    font-family: 'Inter',sans-serif;
}

option{
    font-family: 'Inter',sans-serif;
}

#image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  
    margin-bottom: 10px;
}

.box{
   width:500px;
    padding:90px;
    top:70%;
    left:70%;
    background-color:#fff;
    margin: auto;
    padding: 70px;
    border:1px solid black;
    border-radius: 15px;
    text-align: center;
}
.box2{
    width:450px;
     padding:85px;
     top:70%;
     left:70%;
     background-color:rgb(196, 196, 196);
     margin: auto;
     padding: 70px;
     border:40px solid white;
     border-radius: 15px;
     text-align: center;
 }
 .box3{
    width:600px;
     padding:85px;
     top:70%;
     left:70%;
     background-color:rgb(255, 255, 255);
     margin: auto;
     padding: 70px;
     border:1px solid black;
     border-radius: 15px;
 }

.box input[type="next"]{
    border:0;
    background:#25E5F8;
    display:block;
    margin:10px auto;
    text-align: center;
    border:2px solid none;
    padding: 6px 4px;
    outline:none;
    font-family: 'ABeeZee',sans-serif;
    width: 100px;
    border-radius: 12px;
    transition: 0.25px;
    cursor:pointer;

}
/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
 /* download pdf */
  .background{
    background-color:rgb(196, 196, 196);
    text-align: center;
    padding-bottom: 25px;
} 

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

  /****** Navigation bar styling *******/
.navbar{
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: #171819;
    margin-right: 0;
    padding-right: 0;
    position:fixed;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    padding-right: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.menu > a {
    color: #25E5F8;
    font-size: 14px;
    font-weight: 500;
    margin-left: 45px;
    transition: all 0.3s ease;
    appearance: none;
    text-decoration: none;
}

.menu > i{
    color: #25E5F8;
    font-size: 20px;
    font-weight: 500;
    margin-left: 45px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > a:hover{
    color: #fff;
    font-weight: 700;
    transform: scale(1.05);
}

.menu > i:hover{
    color: #fff;
    transform: scale(1.2);
}

#logo{
    width: 7rem;
}

/****** Pop Out Profile Window ******/
.profile {
    display: none;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
}

.active {
    display: block;
}

.profile-detail{
    display: flex;
    flex-direction:column;
    justify-content: center;
    z-index: 1;
    background-color:rgba(89,83,83, 1);
    border-radius: 10px;
}

.profile-detail > a{
    border-bottom: 3px solid white;
    margin: 0 1rem;
    padding: 1.5rem 1rem;
    font-style: normal;
    text-align: center;
    appearance: none;
    text-decoration: none;
}

.profile-detail > a:hover {
    color: #25E5F8;
    transform: scale(1.05);
}

.profile-detail :last-child {
    border: none;
}

.profile-detail > a {
    color: #fff;
    text-align:center;
}

.logout {
    color: #f54242;
}