@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap');
*{font-family: 'Inter',sans-serif;}

.bg-img{
    background-image:url(../images/Southview-Background-Dark.png);
    max-width: 100%;
    height: auto;
}

.emailbox h5{ 
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;
}

.emailbox h6{ 
    text-align: left;
    margin-bottom: 5px;
}



.title{
    margin: 15px;
}

#saveEmail{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    color: rgb(28, 32, 33);
}


.bg{
    background-color: white; 
   border:1px solid black;
     border-radius: 15px;
     text-align: left;
     margin-top: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image{
    max-width: 80%;
    height:auto;
    margin-bottom: 10px;
    margin-top: 30px;
}


button[type="submit"]{
    background-color:#25E5F8;
    color:black;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 20px;

}

button[type="submit"]:hover{
    background-color: #23D2E3;
    color: #fff;
}

.checkpass{
    float: right;
    margin:0;
}



