@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap');
*{font-family: 'Inter',sans-serif;}


.bg-img{
    background-image:url(../images/Southview-Background-Dark.png);
    max-width: 100%;
    height: auto;
}

.emailbox h5{ 
    font-weight: 400;
}

.bg{
    background-color: white; 
   border:1px solid black;
     border-radius: 15px;
     text-align: left;
     margin-top: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pwlogo{
    width:12%;
    margin-top: 10px;
    margin-bottom:10px;
}

#image{
    max-width: 80%;
    height:auto;
    margin-bottom: 10px;
    margin-top: 30px;
}



button[type="button"],[type="submit"]{
    background-color:#25E5F8;
    color:black;
    padding: 14px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-weight: bold;
    float: left;
    border-radius: 20px;
}

button[type="submit"]{
    margin-top: 10px;
    background-color: black;
    color: white;

}
/* 
button[type="submit"]:hover{
    background-color: #23D2E3;
    color: black;
} */

button[type="button"]:hover{
    background-color: #23D2E3;
    color: #fff;
}
