@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@300&family=JetBrains+Mono:wght@800&display=swap');

/* Section styling */

/****** 1.0 HOME Section ******/
.home{
    height: 90vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.sv_1_general{
    height: 90vh;
    object-fit: cover;
}
.overview{
    display: flex;
}
.svswimpool{
    position: absolute;
    top: 20%;
    left: 10%;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
}
img.rounded-corners{
    border-radius: 20px;
}
.desc{
    position: absolute;
    top: 15%;
    left: 60%;
    width: 30%;
    background: rgba(255, 255, 255, 1);
    justify-content: center;
    text-align: center;
    margin-right: 100px;
    margin-top: 30px;
    padding: 40px 20px;
    border-radius: 10px;
}
.desc h4{
    margin-bottom: 50px;
}
.desc p{
    line-height: 30px;
}


/****** 2.0 OFFICE Section ******/
.officehour{
    height: 120vh;
    margin: 0;
    padding: 0;
    position: relative;
}
.sv_2_white{
    height: 120vh;
    object-fit: cover;  
}
.opendays{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.opendays h3{
    font-size:50px;
    font-family: 'JetBrains Mono';
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.opendays p{
    font-size:24px;
    font-weight: 400;
    font-family: 'Inter';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/****** 3.0 FACILITIES Section ******/
.facilities{
    height: 120vh;
    display: flex;
    margin: 0;
    padding: 0; 
}
.text-facilities{
    width: 50%;
    align-self: center;
}
.text-facilities h4{
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    margin-left: 30px;
    text-align: left;
    align-items: center;
    font-family: 'Inter';
}
.text-facilities span{
    color: #25E5F8;
}
.text-facilities p{
    padding: 40px;
    text-align: justify;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    line-height: 35px;
}
.text-facilities .submit-button{
    color: #000;
    background-color: #25E5F8;
    border: none;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    transition: color 0.3s ease;
}
.text-facilities .submit-button:hover{
    background-color: #23D2E3;
    color: #fff;
}
.box3{
    width: 50%;
    justify-content: right;
    object-fit: cover;
}
.sv_3_facilities{
    height: 120vh;
}


/****** 4.0 ANNOUNCEMENT Section ******/


.box4{
    position: relative;
}
.sv_pet{
    height: 90vh;
    object-fit: cover;  
}
.titletext{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titletext h2{
    font-size: 55px;
    font-family: 'JetBrains Mono';
}
.innerbox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 50px;
    background: rgba(255,255,255, 0.65);
    border-radius: 20px;
    padding: 25px 30px;
}
.innerbox h4{
    font-weight: 800;
    font-size: 40px;
    font-family: 'JetBrains Mono';
    padding-bottom: 20px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.innerbox p{
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family:'Inter';
}
@media only screen and (max-width: 1210px){
    /* Home */
    .home{
        height: 60vh;
    }

    .officehour{
        height: 60vh;
    }

    .sv_2_white{
        height: 60vh;
    }

    .facilities{
        height: 60vh; 
    }

    .box3{
        width: 50%;
    }

    .sv_3_facilities{
        height: 60vh;
    }

    .announcement{
        height: 60vh;
    }

    .sv_pet{
        height: 60vh;  
    }

    .svswimpool{
        left: 7%;
        width: 38vw;
    }
    .desc{
        height: 30vh;
        width: 45vw;
        left: 50%;
        top: 15%;
        overflow: scroll;
    }
    .desc h4{
        margin-bottom: 13px;
        font-size: 22px;
    }
    .desc p{
        line-height: 30px;
    }

    /* Announcement */
    .innerbox{
        top: 55%;
        width: 80vw;
    }
    .titletext h2{
        margin-bottom: 50px;
    }

}



@media only screen and (max-width: 850px){
    .home{
        height: 60vh;
    }
    .sv_1_general{
        height: 60vh;
        width: 100vw;
    }
    .svswimpool{
        height: 25vh;
        top: 25%;
        width: 80vw;
        margin-bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .desc{
        height: 25vh;
        top: 68%;
        left: 50%;
        width: 550px;
        transform: translate(-50%, -50%);
    }

    /* facilities */
    .facilities {
        flex-flow: column;
    }
    .box3{
        width: 100%;
        height: 40%;
        overflow: hidden;
        justify-content: center;
        order: 1;
    }
    .sv_3_facilities{
        padding-bottom: 400px;
    }
    .text-facilities{
        margin-top: 10%;
        width: 100%;
        order: 2;
        background-color: white;
    }
    .text-facilities h4, p{
        align-items: center;
        justify-content: center;
    }
    .text-facilities h4{
        font-size: 26px;
    }
    .text-facilities .submit-button{
        margin-bottom: 30px;
    }

    /* announcement */
    .innerbox{
        top: 55%;
    }
    .titletext h2{
        font-size: 45px;
        font-family: 'JetBrains Mono';
        margin-bottom: 40px;
    }
    .announcement .innerbox{
        width: 85%;
        line-height: 33px;
    }
    .announcement .innerbox h4{
        font-size:30px;
    }
}

@media only screen and (max-width: 600px){
    .titletext h2{
        margin-bottom: 0;
    }
    .announcement .innerbox{
        width: 85%;
        line-height: 25px;
    }
    .announcement .innerbox h4{
        font-size:20px;
    }
    .innerbox p{
        font-size: 15px;
    }
}

@media only screen and (max-height: 920px){
    .opendays{
        width: 800px;
    }
    .opendays h3{
        font-size:40px;
        margin-top: 16px;
    }
    .opendays p{
        font-size:22px;
        font-weight: 400;
        font-family: 'Inter';
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media only screen and (max-height: 693px){
    .opendays h3{
        font-size:30px;
        margin-top: 16px;
        margin-bottom: 0;
    }
    .opendays p{
        font-size:18px;
        font-weight: 400;
        font-family: 'Inter';
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .text-facilities p{
        padding: 20px;
        text-align: justify;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        line-height: 35px;
    }

    .text-facilities .submit-button{
        margin-bottom: 200px;
    }

    .titletext h2{
        font-size: 40px;
        font-family: 'JetBrains Mono';
        margin-bottom: 55px;
    }
    .innerbox{
        padding: 20px 20px;
    }
}