@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    height: 100vh;
}

.header{
    height: 100%;
    width: 100%;
    background-image: url(/images/Southview-Background-Dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section{
    width: 100%;
    height: 100%;
}

.header-txt{
    width: 40%;
    color: white;
    position: absolute;
    top: 30%;
    left: 100px;
    text-align: left;
}

.header-txt h1{
    font-size: 5rem;
    font-family: 'Nunito', sans-serif;
    color: cyan;
    margin-bottom: 10px;
}

.header-txt p{
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: white;
}

.header-img{
    display: block;
    border-radius: 300px;
    height: 50%;
    position: absolute;
    top: 20%;
    right: 0;
}

.header-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    clip-path: circle();
}

.header-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 85%;
    align-items: center;
    justify-content: center;
}

.header-indicator{
    position: relative;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}

.header-indicator span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    animation: animate 1s linear infinite;
}

.header-indicator span:nth-child(1){
    top: -6px;
    left: -6px;
    animation-delay: 0s;
}

.header-indicator span:nth-child(2){
    top: -3px;
    left: -3px;
    animation-delay: 0.25s;
}

.header-indicator span:nth-child(3){
    top: 0px;
    left: 0px;
    animation-delay: 0.50s;
}

.header-indicator span:nth-child(4){
    top: 3px;
    left: 3px;
    animation-delay: 0.75s;
}

@keyframes animate{
    0%{
        border-color: #fff;
        transform: translate(0,0);
    }
    20%{
        border-color: #222;
        transform: translate(5px,5px)
    }
    20.1%, 100%{
        border-color: #222;
    }
}

.header-nav a{
    position: relative;
    margin: 10px 10px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.first-sec{
    padding-top: 6rem;
    height: calc(100% + 6rem);
}

.first-heading{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.first-heading h1{
    font-size: 3.5rem;
    font-family: 'Nunito', sans-serif;
    color: cyan;
}

.first-para{
    position: relative;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.first-para p{
    width: 60%;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    color: rgba(13, 14, 14, 0.7);
}

.second-box{
    position: relative;
    width: 100%;
    height: fit-content;
    display: block;
    background-color: rgb(209, 209, 209);
}

.flex-wrap{
    width: 100%;
    height: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-wrap .flex-r1, .flex-wrap .flex-r3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-wrap .flex-r2{
    width: 100%;
    height: 3px;
    border-bottom: 3px solid white;
    margin: 2rem 0;
}

.flex-wrap h1{
    position: relative;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    color: black;
    width: 30%;
}

.flex-wrap p{
    position: relative;
    width: 60%;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.third-sec{
    padding: 5% 0;
    height: fit-content;
    position: relative;
}

.third-heading{
    width: 100%;
    text-align: center;
}

.third-heading h1{
    position: relative;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.third-gal{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gallery{
    width: 50%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.img-slide{
    width: 500%;
    height: 70%;
    display: flex;
}

.img-slide input{
    display: none;
}

.image{
    width: 20%;
    transition: 2s;
}

.image img{
    width: 800px;
    height: 500px;
}

.nav-man{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#btn1:checked ~ .first{
    margin-left: 0;
}

#btn2:checked ~ .first{
    margin-left: -20%;
}

#btn3:checked ~ .first{
    margin-left: -40%;
}

#btn4:checked ~ .first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#btn1:checked ~ .nav-auto .auto-btn1{
    background: black;
}

#btn2:checked ~ .nav-auto .auto-btn2{
    background: black;
}

#btn3:checked ~ .nav-auto .auto-btn3{
    background: black;
}

#btn4:checked ~ .nav-auto .auto-btn4{
    background: black;
}

.fourth-sec{
    height: fit-content
}

.fourth-wrap{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-wrap h1{
    position: relative;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.fourth-wrap iframe{
    position: relative;
    width: 80%;
}

.fifth-box{
    position: relative;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

.fifth-box p{
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.fifth-box p a{
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    color: cyan;
}

@media (max-width: 1260px){
    .header-txt h1{
        font-size: 4rem; 
    }
}

@media (max-width: 1010px){
    .header-txt{
        width: 50%;
    }

    .header-txt h1{
        font-size: 3.5rem; 
    }

    .header-txt p{
        font-size: 1.2rem; 
    }
    .header-img{
        height: 40%;
    }
}

@media (max-width: 800px){
    .header-img{
        display: none;
    }

    .header-txt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 30%;
        left: 0;
        text-align: center;
    }

    .first-heading h1{
        font-size: 3rem;
    }

    .flex-wrap h1{
        font-size: 2.5rem;
    }

    .fifth-box p{
        font-size: 1.1rem;
    }
    
    .fifth-box p a{
        font-size: 1.2rem;
    }
}

@media (max-width: 700px){
    .first-heading h1{
        font-size: 2.5rem;
    }

    .flex-wrap h1{
        font-size: 2rem;
    }

    .fifth-box p{
        font-size: 1rem;
    }
    
    .fifth-box p a{
        font-size: 1.1rem;
    }
}
