@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap');
*{font-family: 'Inter',sans-serif;}

body{
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
    background-image: url(/southview-fe/images/Southview-Background-Dark.png);
    background-size:cover;
    display:flex;
    justify-content: center;
    height:80vh;
    align-items: center;
}

#image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    margin-top: 170px;
}

.box{
   width:440px;
    height: 520px;
    padding:25px;
    top:20%;
    left:20%;
    bottom: 10s0px;
    background-color:#fff;
    margin-top:20px;
    padding: 10px;
    border:1px solid black;
    text-align: center;
}

#tnp{
    margin:0;
    margin-bottom: 10px;
    font-family:'Inter',sans-serif;
}


/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

 .box h3{
     text-align: center;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     font-weight: bolder;
 }


 .box input[type="text"],.box input[type="password"]{
    width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
      
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 20px;
      }
      
      /* Set a style for all buttons */
      button {
        background-color:#25E5F8;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }

    .box button[type="button"],input[type="submit"]{
      font-family: 'ABeeZee',sans-serif;
    }

    .box input[type="submit"]{
        font-weight: bold;
        background-color:#25E5F8;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        opacity: 0.9;
    }

      button:hover {
        opacity:1;
      }
      
      /* Extra styles for the cancel button */
      .cancelbtn {
        padding: 14px 20px;
        background-color: black;
      }
      
      /* Float cancel and signup buttons and add an equal width */
      .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
      }
      
      /* Add padding to container elements */
      .container {
        padding: 16px;
      }
      
      /* Clear floats */
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
      
      /* Change styles for cancel button and signup button on extra small screens */
      @media screen and (max-width: 300px) {
        .cancelbtn, .signupbtn {
          width: 100%;
        }
      }

      #loginlink{
          text-decoration: none;
      }
      